<div id="account-{{account._id}}">
    <h1 class="account-name">{{account.name}}</h1>

    <ul class="account-amounts-list">
        <li class="account-amounts-item current">
            <p class="account-amount" ng-bind="account.amount.curr"></p>
            <div class="account-currency">
                <div>$</div>
                <div class="selected">€</div>
            </div>
            <p class="account-amount-label">Current</p>
        </li>

        <li class="account-amounts-item future">
            <p class="account-amount" ng-bind="account.amount.future"></p>
            <div class="account-currency">
                <div>$</div>
                <div class="selected">€</div>
            </div>
            <p class="account-amount-label">Future</p>
        </li>
    </ul>

    <div class="clear"></div>

    <div class="account-table-container">
        <form ng-submit="newTransaction(account.formNewTransaction, account._id)">
            <table class="account-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Payment Method</th>
                    <th>Day</th>
                    <th>Is Done</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                <tr class="transaction" ng-repeat="transaction in account.transactions[currViewMonth] | orderBy:['year','month', 'day']">
                    <td>{{transaction.name}}</td>
                    <td>{{transaction.amount}}</td>
                    <td>{{categories[transaction.category_id].name}}</td>
                    <td>{{paymethods[transaction.paymethod_id].name}}</td>
                    <td>{{transaction.month}}/{{transaction.day}}/{{transaction.year}}</td>
                    <td>
                        <input type="checkbox" ng-model="transaction.isDone" ng-change="completeTransaction(transaction)">
                    </td>
                    <td>
                        <button type=button ng-click="deleteTransaction(transaction);">x</button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td><input type="text" placeholder="Name" ng-model="account.formNewTransaction.name"></td>
                    <td>
                        +<input type="radio" name="sign" value="+" ng-model="account.formNewTransaction.sign">
                        -<input type="radio" name="sign" value="-" ng-model="account.formNewTransaction.sign">
                        <div id="input-amount">
                            <input type="number" placeholder="Amount" ng-model="account.formNewTransaction.amount">
                        </div>
                    </td>
                    <td>
                        <select ng-model="account.formNewTransaction.category_id">
                            <option ng-repeat="category in categories | orderBy:'name'" value="{{category._id}}">
                                {{category.name}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <select ng-model="account.formNewTransaction.paymethod_id">
                            <option ng-repeat="paymethod in paymethods | orderBy:'name'" value="{{paymethod._id}}">
                                {{paymethod.name}}
                            </option>
                        </select>
                    </td>
                    <td><input type="number" placeholder="Day" ng-model="account.formNewTransaction.day"></td>
                    <td>
                        <input type="checkbox" ng-model="account.formNewTransaction.isDone">
                    </td>
                    <td><input type="submit" value="+"></td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>