<div>
    <nav class="tabs nav nav-tabs main-nav">
        <ul id="monthly-nav-list" class="main-nav-list">
            <li class="main-nav-list-item" ng-class="{active: selectedTab == 1}">
                <a class="main-nav-list-item-link" href="#" ng-click="selectedTab = 1;">Checking Accounts</a>
            </li>
            <li class="main-nav-list-item" ng-class="{active: selectedTab == 2}">
                <a class="main-nav-list-item-link" href="#" ng-click="selectedTab = 2;">Saving Accounts</a>
            </li>
            <li class="main-nav-list-item" ng-class="{active: selectedTab == 3}">
                <a class="main-nav-list-item-link" href="#" ng-click="selectedTab = 3;">Monthly Reports</a>
            </li>
        </ul>
    </nav>

    <div class="content tab-content">
        <div ng-show="selectedTab == 1">
            <div class="account-container" ng-repeat="account in accounts">
                <div ng-include src="'views/accounts.tpl.html'" ng-if="accounttypes[account.accounttype_id].name === 'checking'"></div>
            </div>
        </div>

        <div ng-show="selectedTab == 2">
            <div class="account-container" ng-repeat="account in accounts">
                <div ng-include src="'views/accounts.tpl.html'" ng-if="accounttypes[account.accounttype_id].name === 'saving'"></div>
            </div>
        </div>

        <div ng-show="selectedTab == 3">
            <br /><br /><br /><br /><br />Monthly Report
        </div>
    </div>
</div>