<div class="row">
    <div class="col-md-6">
        <pie-chart class="chart-directive chart chart-border-grey" title-chart="'Total Spending by Category'" subtitle="'Spending'" data="spendingByCategory" legend="true"></pie-chart>
    </div>

    <div class="col-md-6">
        <pie-chart class="chart-directive chart chart-border-grey" title-chart="'Total Incoming by Category'" subtitle="'Incoming'" data="incomingByCategory" legend="true"></pie-chart>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <column-chart class="chart-directive chart chart-border-grey" title-chart="'Total Transactions by Category'" data="transactionsByCategory" legend="true"></column-chart>
    </div>

    <div class="col-md-6">
        <line-chart class="chart-directive chart chart-border-grey" title-chart="'Total Transactions by Category'" data="transactionsByCategory" legend="true"></line-chart>
    </div>
</div>