/* ========================== */
/* ========== BASE ========== */
/* ========================== */
@font-face
{
  font-family: MainFont;
  src: url(../fonts/segoeuil.ttf);
}

@color-transparent: rgba(0, 0, 0, 0);
@color-white: white;
@color-white-dark: rgb(249, 249, 249);
@color-grey-light: rgb(244, 244, 244);
@color-grey-medium: rgb(233, 233, 233);
@color-grey: rgb(221, 221, 221);
@color-grey-dark: rgb(171, 171, 171);
@color-black-light: rgb(60, 60, 60);
@color-black: black;

@color-red: rgb(243, 69, 65);
@color-orange: rgb(248, 163, 38);

@width-layout-nav: 33%;
@width-layout-content: 67%;

// Mixin for text overflow ellipsis
.mixin-text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// Highlight: bck white et text red
.mixin-highlight {
  background-color: @color-white;
  color: @color-red;
}

.clear {
  clear: both;
}

body {
  background-color: @color-white;
  margin: 0;
  font-family: MainFont;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: MainFont, sans-serif;
}

h1 {
  margin-top: 0;
}

/*
nav {
  background-color: @color-red;
  color: @color-white;
  height: 40px;
}

nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style-type: none;
}

nav ul li {
  line-height: 40px;
  width: 31.5%;
  padding-left: 1.5%;
  font-size: 16px;
  .mixin-text-ellipsis;
}

nav ul li i {
  padding-right: 5%;
  font-size: 22px;
}

nav ul li.project-name {
  max-width: 250px;
}

div.menu-bg {
  width: @width-layout-nav;
  max-width: 250px;
  position: absolute;
  float: left;
  border-right: 1px solid @color-grey;
  background: @color-grey-light;
  display: block;
  z-index: -1;
  top: 0;
  bottom: 0;
}

aside {
  width: @width-layout-nav;
  max-width: 250px;
  height: 100%;
  margin: 0;
  padding: 0;
  float: left;
  background-color: @color-grey-light;
  border-bottom: 1px solid @color-grey;
  .mixin-text-ellipsis;
}

aside ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

aside ul li {
  border-top: 1px solid @color-grey;
  border-bottom: 1px solid @color-white;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  padding-left: 5%;
}

aside ul li i {
  padding-right: 5%;
}

aside ul li.big {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}

aside ul li:not(.big) {
  background-color: @color-white-dark;
  font-size: 14px;
  padding-left: 10%;
}

aside ul li:first-child {
  cursor: auto;
}

aside ul li:hover {
  .mixin-highlight;
}

aside ul li.selected {
  background-color: @color-red;
  color: @color-white;
  border-bottom: 1px solid @color-red;
}

div.container {
  margin-left: 0;
  overflow: hidden;
}

div.content {
  padding: 3%;
}
*/
.account-name {
  font-size: 26px;
  font-weight: normal;
  margin: 0;
  width: 25%;
  float: left;
}

.account-amounts-list {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style-type: none;
  float: left;
  width: 75%;
}

.account-amounts-item {
  float: left;
  width: 25%;
  margin-right: 5%;
}

.account-amount {
  margin: 0;
  text-align: center;
  float: left;
  box-sizing: border-box;
  margin-right: 2%;
}

.account-amount:first-child {
  background-color: @color-white-dark;
  height: 30px;
  line-height: 28px;
  width: 73%;
}

.current .account-amount:first-child {
  color: @color-red;
  border: 1px solid @color-red;
}

.future .account-amount:first-child {
  color: @color-orange;
  border: 1px solid @color-orange;
}

.account-amount-label {
  color: @color-grey;
  font-size: 13px;
  width: 73%;
}

div.account-container {
  border-bottom: 1px solid @color-grey;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.account-currency {
  overflow: hidden;
  height: 30px;
}

.account-currency div {
  background-color: @color-white-dark;
  box-sizing: border-box;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
  height: 15px;
  color: @color-grey-dark;
  cursor: pointer;
  border-bottom: 1px solid @color-white;
}

.current .account-currency .selected {
  border: 1px solid @color-red;
  color: @color-red;
}

.future .account-currency .selected {
  border: 1px solid @color-orange;
  color: @color-orange;
}

div.account-content {
  margin-top: 2%;
}

.account-table-container {
  min-height: 200px;
}

/*::-webkit-input-placeholder { /* WebKit browsers */
  /*color:    @color-grey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  /*color:    @color-grey;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  /*color:    @color-grey;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  /*color:    @color-grey;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  /*-webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
/*}*/

tfoot td {
  text-align: center;
}

tfoot input[type="text"],
tfoot input[type="number"],
tfoot select,
tfoot input[type="date"] {
  color: @color-grey-dark;
  border: 1px solid @color-grey;
  height: 30px;
  padding-left: 10px;
  font-family: MainFont;
  width: 100%;
}

div.sign {
  width: 20%;
  float: left;
  height: 30px;
}

div.sign div {
  background-color: @color-grey-light;
  box-sizing: border-box;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
  height: 15px;
  color: rgb(171, 171, 171);
  cursor: pointer;
  border: 1px solid @color-grey-light;
}

.sign .selected {
  border-color: @color-red;
  color: @color-red;
}

tfoot div#input-amount {
  overflow: hidden;
}

tfoot div#input-amount input {
  width: 100%;
  box-sizing: border-box;
}


table {
  border: 1px solid @color-grey;
}

th, td {
  padding: 2px 5px;
}

thead tr {
  background-color: @color-black;
}

th {
  color: @color-white;
  text-transform: uppercase;
  font-weight: 300;
}

.transaction {
  background-color: @color-grey-light;
}

tfoot {
  background-color: @color-white-dark;
  border-top: 1px solid @color-grey;
}

/* ========================== */
/* ========= NAVBAR ========= */
/* ========================== */
nav {
  margin-bottom: 0 !important;
  background-color: @color-red !important;
  color: @color-white;
  height: 40px;
  min-height: 40px !important;
  border: 0 !important;
  border-radius: 0 !important;
  position: fixed !important;
  width: 100%;
  top: 0;
}

nav .container {
  margin: 0;
}

.navbar-brand {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: @color-white !important;
  line-height: 40px;
}


/* ========================== */
/* ========== MENU ========== */
/* ========================== */
.menu {
  width: 225px;
  height: 100%;
  position: fixed;
  bottom: 0;
  top: 40px;
  z-index: 100;
  background-color: @color-grey-light;
  border-right: 1px solid @color-grey;
}

.menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid @color-white;
}

.menu-list-item-link {
  display: block;
  color: @color-black;
  border-bottom: 1px solid @color-grey;
  border-top: 1px solid @color-white;
  padding-left: 15px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}

.menu-list-item i {
  padding-right: 10px;
}

.menu-list-subitem-link {
  display: block;
  background-color: @color-white-dark;
  font-size: 14px;
  padding-left: 40px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid @color-grey-medium;
  cursor: pointer;
  color: @color-black;
}

.menu-list-item-link:hover,
.menu-list-subitem-link:hover {
  .mixin-highlight;
}

.menu-list-item.active .menu-list-item-link,
.menu-list-subitem.active .menu-list-subitem-link {
  background-color: @color-red;
  color: @color-white;
  border-bottom: 1px solid @color-red;
}


/* ========================== */
/* ======== MAIN NAV ======== */
/* ========================== */
.main-nav {
  position: absolute !important;
  top: 10px;
  width: 67%;
  border-left: 1px solid @color-grey;
  background-color: @color-transparent !important;
  height: auto;
  min-height: inherit !important;
}

.main-nav-list {
  padding: 0;
  margin: 0;
}

.main-nav-list-item {
  float: left;
  text-align: center;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  width: 25%;
  padding-left: 0;
  background-color: @color-grey-light;
  color: @color-black-light;
  border-bottom: 1px solid @color-grey;
  border-right: 1px solid @color-grey;
  list-style-type: none;
}

.main-nav-list-item.active {
  background-color: @color-white;
  border-bottom-color: @color-white;
}

.main-nav-list-item.active .main-nav-list-item-link {
  color: @color-red;
}

.main-nav-list-item:hover {
  background-color: @color-white;
}

.main-nav-list-item:hover .main-nav-list-item-link {
  color: @color-red;
}

.main-nav-list-item-link {
  display: block;
  text-transform: uppercase;
  color: @color-black;
  font-size: 13px;
}


/* ========================== */
/* ========== MAIN ========== */
/* ========================== */
.tab-content {
  margin-top: 40px;
  padding: 10px;
}

.main-content {
  margin-left: 225px;
}