@font-face
{
  font-family: MainFont;
  src: url(../fonts/segoeuil.ttf);
}

@color-white: white;
@color-white-dark: rgb(249, 249, 249);
@color-grey-light: rgb(244, 244, 244);
@color-grey: rgb(221, 221, 221);
@color-grey-dark: rgb(171, 171, 171);
@color-black-light: rgb(60, 60, 60);
@color-black: black;
@color-red: rgb(243, 69, 65);
@color-orange: rgb(248, 163, 38);

@width-layout-nav: 33%;
@width-layout-content: 67%;

// Mixin for text overflow ellipsis
.mixin-text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// Highlight: bck white et text red
.mixin-highlight {
  background-color: @color-white;
  color: @color-red;
}

.clear {
  clear: both;
}

body {
  background-color: @color-white;
  margin: 0;
  font-family: MainFont;
  overflow-x: hidden;
}

nav {
  background-color: @color-red;
  color: @color-white;
  height: 40px;
}

nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style-type: none;
}

nav ul li {
  line-height: 40px;
  width: 31.5%;
  padding-left: 1.5%;
  font-size: 16px;
  .mixin-text-ellipsis;
}

nav ul li i {
  padding-right: 5%;
  font-size: 22px;
}

nav ul li.project-name {
  max-width: 250px;
}

div.menu-bg {
  width: @width-layout-nav;
  max-width: 250px;
  position: absolute;
  float: left;
  border-right: 1px solid @color-grey;
  background: @color-grey-light;
  display: block;
  z-index: -1;
  top: 0;
  bottom: 0;
}

aside {
  width: @width-layout-nav;
  max-width: 250px;
  height: 100%;
  margin: 0;
  padding: 0;
  float: left;
  background-color: @color-grey-light;
  border-bottom: 1px solid @color-grey;
  .mixin-text-ellipsis;
}

aside ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

aside ul li {
  border-top: 1px solid @color-grey;
  border-bottom: 1px solid @color-white;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  padding-left: 5%;
}

aside ul li i {
  padding-right: 5%;
}

aside ul li.big {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}

aside ul li:not(.big) {
  background-color: @color-white-dark;
  font-size: 14px;
  padding-left: 10%;
}

aside ul li:first-child {
  cursor: auto;
}

aside ul li:hover {
  .mixin-highlight;
}

aside ul li.selected {
  background-color: @color-red;
  color: @color-white;
  border-bottom: 1px solid @color-red;
}

div.container {
  margin-left: 0;
  overflow: hidden;
}

nav.tabs {
  position: absolute;
  top: 8px;
  width: 67%;
  height: 31px;
  border-left: 1px solid @color-grey;
}

nav.tabs ul li {
  float: left;
  text-align: center;
  line-height: 31px;
  cursor: pointer;
  width: 25%;
  padding-left: 0;
  background-color: @color-grey-light;
  color: @color-black-light;
  border-bottom: 1px solid @color-grey;
  border-right: 1px solid @color-grey;
}

nav.tabs ul li:hover {
  .mixin-highlight;
}

nav.tabs ul li.selected {
  .mixin-highlight;
  border-bottom: 1px solid @color-white;
}

div.content {
  padding: 3%;
}

div.content h1 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  width: 25%;
  float: left;
}

div.content ul.amounts {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style-type: none;
  float: left;
  width: 75%;
}

div.content ul.amounts li {
  float: left;
  width: 25%;
  margin-right: 5%;
}

div.content ul.amounts li p {
  margin: 0;
  text-align: center;
  float: left;
  box-sizing: border-box;
  margin-right: 2%;
}

div.content ul.amounts li p:first-child {
  background-color: @color-white-dark;
  height: 30px;
  line-height: 28px;
  width: 73%;
}

div.content ul.amounts li.current p:first-child {
  color: @color-red;
  border: 1px solid @color-red;
}

div.content ul.amounts li.future p:first-child {
  color: @color-orange;
  border: 1px solid @color-orange;
}

div.content ul.amounts li p:not(:first-child) {
  color: @color-grey;
  font-size: 13px;
  width: 73%;
}

div.account-container {
  border-bottom: 1px solid @color-grey;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

div.currency {
  overflow: hidden;
  height: 30px;
}

div.currency div {
  background-color: @color-white-dark;
  box-sizing: border-box;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
  height: 15px;
  color: @color-grey-dark;
  cursor: pointer;
}

div.currency div {
  border-bottom: 1px solid @color-white;
}

li.current div.currency div.selected {
  border: 1px solid @color-red;
  color: @color-red;
}

li.future div.currency div.selected {
  border: 1px solid @color-orange;
  color: @color-orange;
}

div.account-content {
  margin-top: 2%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead tr {
  background-color: @color-black-light;
  color: @color-white;
  text-transform: uppercase;
}

th {
  font-weight: normal;
}

tfoot {
  background-color: @color-white-dark;
  border: 1px solid @color-grey;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color:    @color-grey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    @color-grey;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    @color-grey;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    @color-grey;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

tfoot td {
  text-align: center;
}

tfoot input[type="text"],
tfoot input[type="number"],
tfoot select,
tfoot input[type="date"] {
  color: @color-grey-dark;
  border: 1px solid @color-grey;
  height: 25px;
  padding-left: 10px;
  font-family: MainFont;
}

div.sign {
  width: 20%;
  float: left;
  height: 30px;
}

div.sign div {
  background-color: @color-grey-light;
  box-sizing: border-box;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
  height: 15px;
  color: rgb(171, 171, 171);
  cursor: pointer;
}

tfoot div#input-amount {
  overflow: hidden;
}

tfoot div#input-amount input {
  width: 100%;
  box-sizing: border-box;
}