div.container {
  margin: 0 auto;
  width: 600px;
  font-family: 'Calibri';
  background-color: #EEEEEE;
  padding: 20px;
  border-radius: 5px 5px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0px;
  color: rgb(230, 4, 58);
  text-shadow: 1px 1px 1px white;
  font-size: 40px;
  margin-bottom: 0;
}

article {
  border-bottom: 1px solid white;
  padding: 20px;
}

.rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: rgb(230, 4, 58);
}