<div id="account-{{account._id}}">
    <h1 class="account-name">{{account.name}} <span class="account-name-currency">({{currencies[account.currency_id].symbol}})</span></h1>

    <ul class="account-amounts-list">
        <li class="account-amounts-item current">
            <p class="account-amount" ng-show="account.currencySelected === 1" ng-bind="(account.amount.curr * account.currencyFactor[0]).toFixed(2)"></p>
            <p class="account-amount" ng-show="account.currencySelected === 2" ng-bind="(account.amount.curr * account.currencyFactor[1]).toFixed(2)"></p>
            <div class="account-currency">
                <div ng-class="{selected: account.currencySelected == 1}" ng-click="account.currencySelected = 1;">$</div>
                <div ng-class="{selected: account.currencySelected == 2}" ng-click="account.currencySelected = 2;">€</div>
            </div>
            <p class="account-amount-label">{{'account.amount.current' | translate}}</p>
        </li>

        <li class="account-amounts-item future">
            <p class="account-amount" ng-show="account.currencySelected === 1" ng-bind="(account.amount.future * account.currencyFactor[0]).toFixed(2)"></p>
            <p class="account-amount" ng-show="account.currencySelected === 2" ng-bind="(account.amount.future * account.currencyFactor[1]).toFixed(2)"></p>
            <div class="account-currency">
                <div ng-class="{selected: account.currencySelected == 1}" ng-click="account.currencySelected = 1;">$</div>
                <div ng-class="{selected: account.currencySelected == 2}" ng-click="account.currencySelected = 2;">€</div>
            </div>
            <p class="account-amount-label">{{'account.amount.future' | translate}}</p>
        </li>
    </ul>

    <div class="clear"></div>

    <div class="account-table-container">
        <form ng-submit="newTransaction(account.formNewTransaction, account._id)">
            <table class="account-table table">
                <thead>
                <tr>
                    <th>{{'transaction.name' | translate}}</th>
                    <th colspan="2">{{'transaction.amount' | translate}} ({{currencies[account.currency_id].symbol}})</th>
                    <th>{{'transaction.category' | translate}}</th>
                    <th>{{'transaction.paymethod' | translate}}</th>
                    <th>{{'transaction.day' | translate}}</th>
                    <th>{{'transaction.done' | translate}}</th>
                    <th>{{'table.actions' | translate}}</th>
                </thead>
                <tbody>
                <tr class="transaction" ng-repeat="transaction in account.transactions[currViewMonth] | orderBy:['year','month', 'day']">
                    <td><i class="fa fa-circle" ng-style="{'color': categories[transaction.category_id].color}"></i> {{transaction.name}}</td>
                    <td class="transaction-amount" ng-class="{'transaction-amount-minus': transaction.amount < 0}" colspan="2">{{transaction.amount}}</td>
                    <td class="transaction-category">{{ categories[transaction.category_id].name | translate }}</td>
                    <td>{{ paymethods[transaction.paymethod_id].name | translate }}</td>
                    <td>{{transaction.month}}/{{transaction.day}}/{{transaction.year}}</td>
                    <td class="transaction-isdone">
                        <input type="checkbox" ng-model="transaction.isDone" ng-change="completeTransaction(transaction)">
                    </td>
                    <td class="transaction-actions">
                        <button class="table-button" type=button ng-click="deleteTransaction(transaction);"><i class="fa fa-times"></i></button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td><input type="text" placeholder="{{'transaction.name' | translate}}" ng-model="account.formNewTransaction.name" required></td>
                    <td class="transaction-form-sign">
                        <div class="amount-checkbox">
                            <input type="checkbox" value="sign" id="{{account._id}}" name="sign" checked ng-model="account.formNewTransaction.sign">
                            <label for="{{account._id}}"></label>
                        </div>
                    </td>
                    <td>
                        <div id="input-amount">
                            <input type="number" placeholder="{{'transaction.amount' | translate}} {{currencies[account.currency_id].symbol}}" ng-model="account.formNewTransaction.amount" required>
                        </div>
                    </td>
                    <td>
                        <select ng-model="account.formNewTransaction.category_id" required>
                            <option value="">{{'transaction.category' | translate}}</option>
                            <option ng-repeat="category in categories | orderBy:'name'" value="{{category._id}}">
                                {{ category.name | translate}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <select ng-model="account.formNewTransaction.paymethod_id" required>
                            <option value="">{{'transaction.method' | translate}}</option>
                            <option ng-repeat="paymethod in paymethods | orderBy:'name'" value="{{paymethod._id}}">
                                {{ paymethod.name | translate }}
                            </option>
                        </select>
                    </td>
                    <td><input type="number" placeholder="{{'transaction.day' | translate}}" ng-model="account.formNewTransaction.day" required></td>
                    <td class="transaction-isdone transaction-form-isdone">
                        <input type="checkbox" ng-model="account.formNewTransaction.isDone">
                    </td>
                    <td class="transaction-actions"><button class="table-submit-button" type="submit"><span>+</span></button></td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>