<div>
    <nav class="tabs nav nav-tabs main-nav" role="tablist">
        <ul id="monthly-nav-list" class="main-nav-list">
            <li class="main-nav-list-item" ng-class="{active: selectedTab == 1}">
                <a class="main-nav-list-item-link" href="" ng-click="selectedTab = 1;">
                    <i class="fa fa-credit-card"></i>
                    <span class="main-nav-list-item-text">{{'tabbar.account.checking' | translate}}</span>
                </a>
            </li>
            <li class="main-nav-list-item" ng-class="{active: selectedTab == 2}">
                <a class="main-nav-list-item-link" href="" ng-click="selectedTab = 2;">
                    <i class="fa fa-key"></i>
                    <span class="main-nav-list-item-text">{{'tabbar.account.saving' | translate}}</span>
                </a>
            </li>
            <!--li class="main-nav-list-item" ng-class="{active: selectedTab == 3}">
                <a class="main-nav-list-item-link" href="" ng-click="selectedTab = 3;">
                    <i class="fa fa-pie-chart"></i>
                    <span class="main-nav-list-item-text">{{'tabbar.reports.monthly' | translate}}</span>
                </a>
            </li-->
            <li class="main-nav-list-item" >
                <a class="main-nav-list-item-link" ng-href="#/accounts/{{currViewMonth}}/reports">
                    <i class="fa fa-pie-chart"></i>
                    <span class="main-nav-list-item-text">{{'tabbar.reports.monthly' | translate}}</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="content tab-content">
        <div ng-show="selectedTab == 1">
            <div ng-repeat="account in accounts">
                <div class="account-container" ng-include src="'scripts/account/accounts.tpl.html'"
                     ng-if="accounttypes[account.accounttype_id].name === 'checking'
                        && !isMonthOutOfBound(account.creation_month, firstMonth, currViewMonth)"></div>
            </div>
        </div>

        <div ng-show="selectedTab == 2">
            <div ng-repeat="account in accounts">
                <div class="account-container" ng-include src="'scripts/account/accounts.tpl.html'"
                    ng-if="accounttypes[account.accounttype_id].name === 'saving'
                        && !isMonthOutOfBound(account.creation_month, firstMonth, currViewMonth)"></div>
            </div>
        </div>

        <!--div ng-show="selectedTab == 3" ng-controller="MonthlyReportCtrl">
            <div ng-include src="'scripts/account/monthlyReport/monthlyReports.tpl.html'"></div>
        </div-->
    </div>
</div>