<div class="settings-container">
    <h1>{{'settings.languages' | translate}}</h1>
    <form name="formLanguage">
        <h5>{{'settings.language' | translate}}:</h5>
        <select name="language" ng-model="lang" ng-change="editLanguage(formLanguage)" ng-options="language.name for language in languages | orderBy:'name'">
        </select>
    </form>
</div>

<div class="settings-container">
    <h1>{{'settings.categories' | translate}}</h1>
    <table>
        <thead>
        <th>{{'category.name' | translate}}</th>
        <th>{{'category.color' | translate}}</th>
        </thead>
        <tbody>
        <tr class="transaction" ng-repeat="category in categories | orderBy:'name'">
            <td class="td-head"><i class="fa fa-circle" ng-style="{ 'color': category.color}"></i> {{ category.name | translate}}</td>
            <td>{{category.color}}</td>
        </tr>
        </tbody>
    </table>
</div>