<div>
    <nav class="tabs nav nav-tabs main-nav" role="tablist">
        <ul id="monthly-nav-list" class="main-nav-list" ng-init="selectedSettingsTab = 1;">
            <li class="main-nav-list-item" ng-class="{active: selectedSettingsTab == 1}">
                <a class="main-nav-list-item-link" href="#/settings" ng-click="selectedSettingsTab = 1;">
                    <i class="fa fa-tasks"></i>
                    <span class="main-nav-list-item-text">{{'tabbar.accounts' | translate}}</span>
                </a>
            </li>
            <li class="main-nav-list-item" ng-class="{active: selectedSettingsTab == 2}">
                <a class="main-nav-list-item-link" href="#/settings" ng-click="selectedSettingsTab = 2;">
                    <i class="fa fa-sliders"></i>
                    <span class="main-nav-list-item-text">{{'tabbar.customize' | translate}}</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="content tab-content">
        <div ng-show="selectedSettingsTab == 1">
            <div ng-include src="'scripts/settings/accounts/accounts.tpl.html'"></div>
        </div>

        <div ng-show="selectedSettingsTab == 2">
            <div ng-include src="'scripts/settings/custom/custom.tpl.html'"></div>
        </div>
    </div>
</div>